header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}
header .logo {
    left: 20px;
    height: 100%;
}


.circle_active{
    margin-right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #CCCCCC;
}

.available{
    margin-right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #ff545f;
}